@import-normalize;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css?family=Oswald:400,300,700");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

:root {
  --h-header: 4rem;
}

@layer utilities {
  .text-red {
    color: #ff4d59;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
  }

  .text-light {
    color: #dedede;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
  }
  .text-dark {
    color: #1d1d1d;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
  }

  .text-dark-grey {
    color: #272727;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
  }
}
:root {
  --font-1: "Inter", sans-serif;
  --font-2: "IBM Plex Serif", serif;
  /* monospace
     */
  --font-mono: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
  /* height of sticky header */
  scroll-padding-top: 4rem;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  overflow-y: scroll;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

.cover {
  background-image: url(/src/assets/imgs/hero-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: block;
  z-index: -2;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  @apply rounded-md px-4 py-2 font-bold text-white;
  background-color: #ff4d59;
  border: 2px solid #ff4d59;
}

.btn:hover {
  background-color: #cc3d47;
  border: 2px solid #cc3d47;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(5vh);
  visibility: hidden;
  transition:
    opacity 0.7s ease-in,
    transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* ------------------------------------------------------------------- 
## nav
------------------------------------------------------------------- */
.NavigationMenuRoot {
  display: flex;
  z-index: 1;
  min-width: 364px;
  background-color: #1a1a1a;
  border-bottom: 2px solid #ff4d59;
}

.NavigationMenuLink {
  color: #dedede;
  font-weight: 500;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  outline: none;
  user-select: none;
  line-height: 1;
  border-radius: 4px;
}

.NavigationMenuLink[data-active] {
  color: #ff4d59;
}
.NavigationMenuLink:hover {
  color: #ff4d59;
}
.NavigationMenuList.NavigationMenuItem:nth-child(n + 2):nth-child(
    -n + 4
  ):after {
  color: #dedede;
  font-size: 100%;
  margin: 0 1rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .NavigationMenuList
    .NavigationMenuItem:nth-child(n + 2):nth-child(-n + 4):after {
    content: " | ";
    color: #dedede;
    font-size: 100%;
    margin: 0 2rem;
    font-weight: 400;
  }
}

.NavigationMenuTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 35px;
}

.NavigationMenuTrigger[data-state="open"] {
  background-color: #3a3a3a;
}

.NavigationMenuContent .NavigationMenuItem {
  list-style: none;
}

.NavigationMenuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
}
.NavigationMenuContent .NavigationMenuItem {
  width: 100%;
}
.NavigationMenuContent .NavigationMenuLink[data-active] {
  background-color: #3a3a3a;
  color: #ff4d59;
}
.NavigationMenuContent .NavigationMenuItem:not(:last-child) {
  border-bottom: 2px solid #3a3a3a;
}

.NavigationMenuContent .NavigationMenuItem .NavigationMenuLink {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 6px;
  width: 100%;
  border: none;
  overflow: hidden;
  height: var(--radix-navigation-menu-viewport-height);
  transition:
    width,
    height,
    300ms ease;
}
.NavigationMenuViewport[data-state="open"] {
  animation: fadeIn 500ms ease;
}
.NavigationMenuViewport[data-state="closed"] {
  animation: fadeOut 500ms ease;
}

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: 0;
  perspective: 2000px;
}

/* ------------------------------------------------------------------- 
## hero
------------------------------------------------------------------- */

.s-hero {
  width: 100%;
  overflow: hidden;
  scroll-margin-top: var(--h-header);
}

.hero-typewriter {
  min-width: 300px;
  width: 700px;
  font-family: "Space Mono", monospace;
}

.hero-text {
  font-family: "Space Mono", monospace;
}

.profile-img {
  width: 375px;
  min-width: 300px;
  height: 350px;
}

/* ------------------------------------------------------------------- 
## about
------------------------------------------------------------------- */
.s-about {
  background-color: #272727;
  overflow: hidden;
  margin: 0;
  scroll-margin-top: var(--h-header);
}

.about-me-container {
  background-color: #1d1d1d;
  border: none;
}

.bio-container {
  background-color: #1d1d1d;
  max-width: 600px;
}
.bio-text {
  @apply text-base;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2px;
  color: #dedede;
  min-width: 320px;
  max-width: 450px;
}

.about-img-container {
  padding: 1.5px 0px;
}
.portfolio-img {
  min-width: 325px;
  min-height: 325px;
}

/* ------------------------------------------------------------------- 
## resume
------------------------------------------------------------------- */

.s-resume {
  background-color: #fbfcfa;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-margin-top: var(--h-header);
}

.resume-title {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  color: #ff4d59;
}

.s-resume .resume-content {
  list-style: disc;
  max-width: 1000px;
}
.s-resume .resume-content .resume-content-item {
  background-color: #fbfcfa;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  letter-spacing: 0.5px;
  display: flex;
  border: none;
}

.resume-date {
  font-family: var(--font-1);
  font-size: calc(var(--text-size) * 0.8889);
  font-style: normal;
  color: #acacac;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  padding-top: 5px;
}

.resume-date::before {
  content: "\2022";
  color: var(--color-text);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.sub-title {
  font-family: "IBM Plex Serif", serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

.skill-list {
  display: flex;
}

.skill-list-item {
  @apply m-1 rounded-md px-2.5 py-1.5 font-bold text-white;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  background-color: #ff4d59;
}

.project-skill-list-item {
  @apply m-1 rounded-md px-1.5 py-0.5 font-bold text-white;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  background-color: #ff4d59;
}

.project-container {
  background-color: #1a1a1a;
  box-shadow:
    5px 5px rgba(255, 77, 89, 0.4),
    10px 10px rgba(255, 77, 89, 0.3),
    15px 15px rgba(255, 77, 89, 0.2),
    20px 20px rgba(255, 77, 89, 0.1),
    25px 25px rgba(255, 77, 89, 0.05);
}

.project-container img {
  width: 620px;
  height: 380px;
  min-width: 520px;
  min-height: 280px;
}

.project-title a {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  letter-spacing: 0.5px;
  color: #ff4d59;
  text-decoration: none;
}

.project-title a:hover {
  color: rgba(255, 77, 89, 0.8);
}

.project-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #fbfcfa;
}

.connect-btn {
  font-family: "Space Mono", monospace !important;
  font-size: 17px !important;
  font-weight: 700 !important;
  color: #272727 !important;
  background-color: #ff4d59 !important;
  border: none;
}

.connect-txt {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  color: #dedede;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.connect-txt span a {
  display: inline-block;
  color: #ff4d59;
  font-weight: 700 !important;
  text-decoration: none;
}

.section-title-container {
  @apply flex flex-col items-center;
}

.section-title-light {
  @apply mb-2 text-3xl font-bold md:text-5xl;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.6px;
  text-align: center;
  color: #dedede;
  min-width: 13rem;
}

.section-title-bar {
  @apply w-16 md:w-24;
  height: 4px;
  background: #ff4d59;
}

.section-title-dark {
  @apply mb-2 text-3xl font-bold md:text-5xl;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.6px;
  text-align: center;
  color: #272727;
  min-width: 13rem;
}

/* ------------------------------------------------------------------- 
## work/projects
------------------------------------------------------------------- */
.s-work {
  background-color: #272727;
  width: 100%;
  overflow: hidden;
  margin: 0;
  scroll-margin-top: var(--h-header);
}
/* ------------------------------------------------------------------- 
## contact
------------------------------------------------------------------- */
.s-contact {
  width: 100%;
  min-height: calc(100vh - 11rem);
  overflow: hidden;
  scroll-margin-top: var(--h-header);
}

.contact-img {
  min-width: 70px;
  height: 70px;
  background-image: url(/src/assets/contact-pic.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  background-color: #1a1a1a !important;
  --box-shadow-color: #ff4d59;
  box-shadow: 0 0 20px var(--box-shadow-color);
}

#dashboard {
  width: 100%;
  min-height: 100vh;
}

.contact-form {
  background-color: #1a1a1a;
  margin: 0, auto;
  min-width: 600px;
  min-height: 350px;
}

.contact-form-header {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #dedede;
}

.contact-info-input {
  min-height: 100px;
}

.contact-msg-input {
  min-height: 180px;
}

.contact-input-group {
  background-color: #272727;
  padding: 30px;
  border-radius: 0 0 0.375rem 0.375rem;
}
/* ------------------------------------------------------------------- 
 ## footer
 ------------------------------------------------------------------ */
.s-footer {
  background-color: #1a1a1a;
  border-top: 1px solid #ff4d59;
  min-height: 7rem;
}

.s-footer .footer-text {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #fbfcfa;
}

.footer-year {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #ff4d59;
}
.contact-icons-group {
  display: flex;
}

.contact-icons-group li {
  background-color: #272727;
  padding: 7px 15px;
  color: #fbfcfa;
  border: 1px solid #ff4d59;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.6px;
  min-width: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-github {
  width: 35px;
  height: 35px;
}
.contact-linkedin {
  width: 41px;
  height: 41px;
}
.contact-links {
  text-decoration: none;
  color: #fbfcfa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-links:hover {
  color: #ff4d59;
}

.contact-icons {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}
.s-hero__scroll {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: var(--vspace-1_25);
}

.s-hero__scroll-link {
  display: flex;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #fbfcfa;
  text-decoration: none;
}

.s-hero__scroll-link:hover .scroll-text::after,
.s-hero__scroll-link:focus .scroll-text::after {
  width: 100%;
}

.s-hero__scroll-link .scroll-text {
  color: #fbfcfa;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.s-hero__scroll-link .scroll-text::after {
  content: "";
  display: flex;
  width: 0;
  height: 1px;
  background-color: #fbfcfa;
  transition: all 0.3s ease-in-out;
}

.major::before {
  content: "\2022";
  color: var(--color-text);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.resume-header {
  min-width: 13rem;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #ff4d59;
}
