@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --font-1: "Inter", sans-serif;
  --font-2: "IBM Plex Serif", serif;
  /* monospace
     */
  --font-mono: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

html,
body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #1a1a1a;
}

.banner {
  font-size: 170px;
  font-family: "Space Mono", monospace;
}

.navbar {
  background-color: #272727 !important;
}

.navbar-nav .nav-link {
  margin: auto, 0;
  color: #ffffff !important;
  font-weight: 700;
  font-size: 17px;
  font-family: "Space Mono", monospace;
}
.navbar-nav .nav-link:nth-child(n + 1):nth-child(-n + 5):after {
  content: " | ";
  color: white;
  font-size: 100%;
  margin: 0 0.5rem;
  font-weight: 400;
}

.nav-link:hover {
  color: #ff4d59 !important;
}

.nav-link.active {
  color: #ff4d59 !important;
}

.pageContainer {
  height: 100%;
  z-index: 1;
}

.logo {
  min-width: 50px;
  height: 50px;
}

#dashboard {
  width: 100%;
  min-height: 100vh;
}

.btn-outline {
  border-color: #ff4d59 !important;
  color: #ff4d59 !important;
  font-weight: 700;
  font-size: 17px;
  font-family: "Space Mono", monospace;
  background-color: #1a1a1a !important;
  --box-shadow-color: #ff4d59;
  box-shadow: 0 0 20px var(--box-shadow-color);
}

.btn-outline:hover {
  background-color: #ff4d59 !important;
  color: #1a1a1a !important;
}

.contact-form {
  background-color: #272727;
  margin: 0, auto;
}

.resume-content {
  background-color: #272727;
  font-family: "Inter", sans-serif;
}

.resume-date {
  font-family: var(--font-1);
  font-size: calc(var(--text-size) * 0.8889);
  font-size: var(--text-sm);
  font-style: normal;
  color: grey;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.resume-date::before {
  content: "\2022";
  color: var(--color-text);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.major::before {
  content: "\2022";
  color: var(--color-text);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.resume-header {
  max-width: 5rem;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #ff4d59;
}

ul li {
  list-style-type: disc !important;
}


/* ------------------------------------------------------------------- 
* responsive:
* resume
* ------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
  .s-resume {
    padding-top: var(--vspace-4);
  }
  .s-resume__section .column:first-child {
    text-align: center;
  }
}
